@mixin  container {
        max-width: 1100px;
        margin: 0 auto;
    
}

@mixin flex {
    display: flex;
    
}

@mixin transition-ease {
    transition: all 0.5s ease   ;
}


//breakpoints

@mixin breakpointSm($arg) {
    @media screen and(max-width: $arg){
        @content;
        
    }
  
}

@mixin breakpointMin($arg) {
    @media screen and(min-width: $arg){
        @content;
        
    }
  
}


//SETTING THE BREAKPOINT TO MIN MAX 
@mixin  breakpointsMinMax($arg...) {
   
    @if length($arg) == 1 {
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }        

    } 

    @if  length($arg) == 2 {
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2))
        {
            @content;
        }
        
    }
}

